<div class="login-form card">
  <div class="card-body">
    <h1 class="card-title">Flat-a-gram</h1>
    <br />
    <%= form_tag sessions_path do %>
      <%= text_field_tag :name, nil, placeholder: 'Name', class: 'login-input' %>
      <%= password_field_tag :password, nil, placeholder: "Password", class: 'login-input' %>

      <%= submit_tag "Log in", class: 'login-btn btn btn-primary' %>
    <% end %>
  </div>
  <div class="card-body">
    <h6>Don't have an account? <%= link_to "Sign up", signup_path %></h6>
  </div>
</div>
