<div class="header">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><div class="header-left">
    <%= image_tag "flatiron.png" %>
    <h2>Flat-a-gram</h2>
  </div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
        </li>
          <% if logged_in? %>
        <div
          class="logout-button">
          <a class="logout-button" href="#"> <%= link_to "UserPage", user_path(@user)%> <span class="sr-only">(current)</span></a>
          <a class="logout-button" href="#"> <%= link_to "CreatePost", new_post_path%> <span class="sr-only">(current)</span></a>

          <%= link_to "Logout", logout_path, method: :delete %>
        </div>
    <% end %>
      </ul>
    </div>
  </nav>

</div>
<div class="edit-form card">
  <div class="card-body">

    <div class="edit-user-avatar">
      <div class="user-image">
        <%= image_tag @user.profile_pic, class: 'user-image' %>
      </div>

      <div class="edit-profile">
        <div class="profile">
          <h1 class="profile-name"><%= @user.name.downcase.titleize %></h1>
        </div>


      </div>


    </div>

      <div>
        <%= form_for @user do |f| %>
          <br />
          <div class="edit-name-bio">
            <div class="edit-blocks">
              <div>
                <%= f.label :avatar, "Edit your profile image" %>
                <%= f.file_field :avatar, class: 'login-input' %>
                <%= f.label :name, "Change your name" %>
              </div>
              <div>
                <%= f.text_field :name %>
              </div>
            </div>
            <br/>
            <div class="edit-blocks">
              <div>
                <%= f.label :bio, "Edit your bio" %>
              </div>
              <div>
                <%= f.text_area :bio, cols: "30", rows: "10" %>
              </div>
            </div>
          </div>


          <%= f.submit "Submit", class: 'edit-btn btn btn-primary' %>
        <% end  %>
      </div>

  </div>
</div>
