<div class="login-form card">
  <div class="card-body">
    <h1 class="card-title">Flat-a-gram</h1>
    <br />
    <h6 class="card-subtitle mb-2 text-muted">Sign up to see photos and videos from your friends.</h6>
    <%= form_for @user do |f| %>
      <br />
      <%= f.text_field :name, placeholder: "Name", class: 'login-input' %>
      <%= f.file_field :avatar, class: 'login-input' %>
      <%= f.label :avatar, "Upload an avatar image" %>
      <%= f.text_area :bio, placeholder: "Bio", class: 'login-input' %>
      <%= f.password_field :password, placeholder: "Password", class: 'login-input' %>
      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: 'login-input' %>
      <%= f.submit "Sign Up", class: 'login-btn btn btn-primary' %>
    <% end  %>
  </div>
  <div class="card-body">
    <h6>Have an account? <%= link_to "Login", login_path %></h6>
  </div>
</div>
