<div class="container">
  <div class="user-show">
    <div class="user-info">
      <div class="user-image">
        <%= image_tag @user.profile_pic, class: 'user-image' %>
      </div>
      <div>
        <h1 class="profile-name"><%= @user.name.downcase.titleize %></h1>
      </div>
      <div class="create-post">
        <%= link_to "create post", new_post_path, class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="user-bio">
      <div>
        <p><%= @user.bio %></p>
      </div>
    </div>
    <hr/>

    <div class="user-post-list">
      <% @posts.each do |post| %>
      <div class="user-posts">
        <div class="user-posts-image">
          <%= link_to image_tag(post.post_pic), post_path(post) %>
        </div>
      </div>

      <% end %>
    </div>

  </div>
</div>
