<h1>Name: <%= @user.name %></h1>
<h2>Bio: <%= @user.bio %></h2>
<%= image_tag @user.avatar %>

<% @posts.each do |post| %>
  <%= post.caption %>
  <%= post.location %>
  <%= image_tag post.post_image %>
<% end %>

<%= link_to "create post", new_post_path %>
