<div class="container">
  <div class="user-show">
    <div class="user-info">
      <div class="user-image">
        <%= image_tag @user.profile_pic, class: 'user-image' %>
      </div>
      <div>
        <h1 class="profile-name"><%= @user.name.downcase.titleize %></h1>
      </div>
    </div>

    <div class="user-bio">
      <div>
        <p><%= @user.bio %></p>
      </div>
    </div>
    <hr/>

    <div class="user-post-list">
      <% @posts.each do |post| %>
      <div class="user-posts">
        <div class="user-posts-location">
          <h6><%= post.location %></h6>
        </div>
        <div class="user-posts-image">
          <%= image_tag post.post_image %>
        </div>
        <div class="user-posts-caption">
          <p><%= post.caption %></p>
        </div>
      </div>
      <% end %>
    </div>


    <%= link_to "create post", new_post_path %>
  </div>
</div>
