<div class="header container">

  <div class="header-left">
    <%= image_tag "flatiron.png" %>
    <h2>Flat-a-gram</h2>
  </div>

  <div class="header-right">
    <% if logged_in? %>
    <div class="edit-back">
      <div class="edit-btn container">
        <%= link_to "Go back", user_path(@user), class: "btn btn-primary" %>
      </div>
      <div class="logout-button">
        <%= button_to "Logout", logout_path, method: :delete, class: 'btn btn-primary' %>
      </div>
    </div>
    <% else %>
      <!-- <%= link_to "Login", login_path %> / <%= link_to "Sign up", signup_path %> -->
    <% end %>
  </div>

  </div>
  <hr />

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Upload a New Post</h1>
    <p class="lead"> Write a caption, set a location, and upload a new picture for the rest of the world to see!</p>

    <%= form_for @post do |f| %>
    <%= f.label :location %>
    <%= f.text_field :location %><p>
    <%= f.label :post_image %>
    <%= f.file_field :post_image %><p>
    <%= f.label :caption%>
    <%= f.text_field :caption %><p>
    <%= f.hidden_field :user_id, :value => @user %>
    <%= f.submit "Post", class: 'btn btn-primary'%>
    <% end  %>
  </div>
</div>
