<div class="header">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><div class="header-left">
    <%= image_tag "flatiron.png" %>
    <h2>Flat-a-gram</h2>
  </div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
        </li>
          <% if logged_in? %>
        <div
          class="logout-button">
          <a class="logout-button" href="#"> <%= link_to "UserPage", user_path(@user)%> <span class="sr-only">(current)</span></a>
          <%=link_to "PostsFeed", posts_path%> <span class="sr-only">(current)</span>
          <%= link_to "Logout", logout_path, method: :delete %>
        </div>
    <% end %>
      </ul>
    </div>
  </nav>

  </div>
  <hr />

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Upload a New Post</h1>
    <p class="lead"> Write a caption, set a location, and upload a new picture for the rest of the world to see!</p>

    <%= form_for @post do |f| %>
    <%= f.label :location %>
    <%= f.text_field :location %><p>
    <%= f.label :post_image %>
    <%= f.file_field :post_image %><p>
    <%= f.label :caption%>
    <%= f.text_field :caption %><p>
    <%= f.hidden_field :user_id, :value => @user %>
    <%= f.submit "Post", class: 'btn btn-primary'%>
    <% end  %>
  </div>
</div>
