<%= link_to "User page", user_path(@post.user), class: 'btn btn-secondary post-back-button'%>
<%= link_to "Post page", posts_path, class: 'btn btn-secondary post-back-button'%>

<div class="container">
  <div class="post-container">
    <div class="post-show">
      <br />
      <div class="post-show-block">
        <div class="post-show-image">
          <%= image_tag @post.post_image %>
        </div>
        <div>
          <div class="post-show-location">
            <div class="user-image">
              <%= image_tag @user.profile_pic, class: 'user-image' %>
            </div>
            <%= @post.user.name %>
          </div>
          <div class="post-show-location">
            <%= @post.location %>
          </div>
          <br/>
          <% @post.comments.each do |comment| %>
            <%= comment.content %>
          <% end %>
        </div>
      </div>
      <div class="">
        <%= @post.caption %>
      </div>
    </div>
  </div>

</div>
