<!DOCTYPE html>
<html>
  <head>
    <title>Flat-a-gram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500i" rel="stylesheet">
  </head>

  <body>
    <% if logged_in? %>
        <%= yield %>
    <% else %>
      <div class="background">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
